.t2section1{
    height: 10%;
}
.t2section2{
    height: 30%;
}
.t2section3{
    height: 10%;
}
.t2section4{
    height: 50%;
}
.t2section3 h3{
    float: left;
}
h3{
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 6%;
    margin-bottom: 5%;
}
