.orange-theme {
    .toolbar-background {
      background-color: #ff6d00; //primary
    }
    ion-navbar ion-icon{
      color: #000000; //light
    }
    ion-icon{
      color: #000000; //text
    }
    .title{
      -webkit-text-fill-color: #000000; //text
    }
    .fabss{
      background-color: #c43c00; //dark
    }
    .t6item2{
      background: #ff6d00; //primary
    }
    .range-knob {
      background-color: #c43c00 !important //dark
    }
    .range-bar-active {
      background-color: #c43c00 !important //dark
    }
    .t5section1{
      background-color: #E1E2E1; 
    }
    .t5section3{
      background-color: #ff9e40; //light
    }
    .btn{
      background-color: #ff6d00; //primary
      -webkit-text-fill-color: #000000; //text
    }
    .ccontent{
      background: #ff6d00; //primary
      -webkit-text-fill-color: #000000; //text
    }
    ion-card-header{
      background-color: #c43c00; //dark
      -webkit-text-fill-color: #000000; //text
    }
    .t2section1{
      background-color: #c43c00; //dark
      -webkit-text-fill-color: #000000; //text
    }
    .t2section2{
      background-color: #ff6d00; //primary
    }
    .t2section3{
      background-color: #ff9e40; //light
      -webkit-text-fill-color: #000000; //text
    }
    .t2section4{
      background-color: #E1E2E1; 
    }
    .hr{
      background-color: #c43c00; //dark
    }
    .t4innersection1{
      background-color: #ff6d00; //primary
    }
    .t4innersection2{
      background-color: #E1E2E1; 
    }
  }