.amber-theme {
    .toolbar-background {
      background-color: #ffab00; //primary
    }
    ion-navbar ion-icon{
      color: #000000; //text
    }

    ion-icon{
      color: #000000; //text
    }
    .title{
      -webkit-text-fill-color: #000000; //text
    }
    .fabss{
      background-color: #c67c00 //dark
    }
    .t6item2{
      background: #ffab00; //primary
    }
    .range-knob {
      background-color: #c67c00 !important //dark
    }
    .range-bar-active {
      background-color: #c67c00 !important //dark
    }
    .t5section1{
      background-color: #E1E2E1; 
    }
    .t5section3{
      background-color: #ffdd4b; //light
    }
    .btn{
      background-color: #ffab00; //primary
      -webkit-text-fill-color: #000000; //text
    }
    .ccontent{
      background: #ffab00; //primary
      -webkit-text-fill-color: #000000; //text
    }
    ion-card-header{
      background-color: #c67c00; //dark
      -webkit-text-fill-color: #000000; //text
    }
    .t2section1{
      background-color: #c67c00; //dark
      -webkit-text-fill-color: #000000; //text
    }
    .t2section2{
      background-color: #ffab00; //primary
    }
    .t2section3{
      background-color: #ffdd4b; //light
      -webkit-text-fill-color: #000000; //text
    }
    .t2section4{
      background-color: #E1E2E1; 
    }
    .hr{
      background-color: #c67c00; //dark
    }
    .t4innersection1{
      background-color: #ffab00; //primary
    }
    .t4innersection2{
      background-color: #E1E2E1; 
    }
  }