.bluegrey-theme {
    .toolbar-background {
      background-color: #263238; //primary
    }
    ion-navbar ion-icon{
      color: #ffffff; //light
    }
    ion-icon{
      color: #ffffff; //text
    }
    .title{
      -webkit-text-fill-color: #ffffff; //text
    }
    .fabss{
      background-color: #000a12 //dark
    }
    .t6item2{
      background: #263238; //primary
    }
    .range-knob {
      background-color: #000a12 !important //dark
    }
    .range-bar-active {
      background-color: #000a12 !important //dark
    }
    .t5section1{
      background-color: #E1E2E1; 
    }
    .t5section3{
      background-color: #4f5b62; //light
    }
    .btn{
      background-color: #263238; //primary
      -webkit-text-fill-color: #ffffff; //text
    }
    .ccontent{
      background: #263238; //primary
      -webkit-text-fill-color: #ffffff; //text
    }
    ion-card-header{
      background-color: #000a12; //dark
      -webkit-text-fill-color: #ffffff; //text
    }
    .t2section1{
      background-color: #000a12; //dark
      -webkit-text-fill-color: #ffffff; //text
    }
    .t2section2{
      background-color: #263238; //primary
    }
    .t2section3{
      background-color: #4f5b62; //light
      -webkit-text-fill-color: #ffffff; //text
    }
    .t2section4{
      background-color: #E1E2E1; 
    }
    .hr{
      background-color: #000a12; //dark
    }
    .t4innersection1{
      background-color: #263238; //primary
    }
    .t4innersection2{
      background-color: #E1E2E1; 
    }
  }