.pink-theme {
  .toolbar-background {
    background-color: #c51162; //primary
  }
  ion-navbar ion-icon{
    color: #ffffff; //text
  }
  ion-icon{
    color: #ffffff; //text
  }
  .title{
    -webkit-text-fill-color: #ffffff; //text
  }
  .fabss{
    background-color: #8e0038; //dark
  }
  .t6item2{
    background: #c51162; //primary
  }
  .range-knob {
    background-color: #8e0038 !important //dark
  }
  .range-bar-active {
    background-color: #8e0038 !important //dark
  }
  .t5section1{
    background-color: #E1E2E1; 
  }
  .t5section3{
    background-color: #fd558f; //light
  }
  .btn{
    background-color: #c51162; //primary
    -webkit-text-fill-color: #ffffff; //text
  }
  .ccontent{
    background: #c51162; //primary
    -webkit-text-fill-color: #ffffff; //text
  }
  ion-card-header{
    background-color: #8e0038; //dark
    -webkit-text-fill-color: #ffffff; //text
  }
  .t2section1{
    background-color: #8e0038; //dark
    -webkit-text-fill-color: #ffffff; //text
  }
  .t2section2{
    background-color: #c51162; //primary
  }
  .t2section3{
    background-color: #fd558f; //light
    -webkit-text-fill-color: #ffffff; //text
  }
  .t2section4{
    background-color: #E1E2E1; 
  }
  .hr{
    background-color: #8e0038; //dark
  }
  .t4innersection1{
    background-color: #c51162; //primary
  }
  .t4innersection2{
    background-color: #E1E2E1; 
  }
}