.t4section{
    height: 100%;
    width: 80%;
}
.t4innersection1{
    height: 40%;
}
.t4innersection2{
    height: 60%;
}
.imgg{
    margin-top: 20%;
}
.t4innersection2 ion-item{
    background-color: #E1E2E1;
}